<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary " >
    <!-- Sidebar -->
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">   
              <li class="nav-item ">
                <a routerLink="/dashboard" class="nav-link">
                  Dashboard
                </a>
              </li>
              <li class="nav-item ">
                <a routerLink="/login" class="nav-link">
                  Login
                </a>
              </li>
              <li class="nav-item ">
                <a routerLink="/signup" class="nav-link">
                  SignUp
                </a>
              </li>
              <li class="nav-item ">
                <a routerLink="/profile/user-profile" class="nav-link">
                  Profile
                </a>
              </li>
            </ul>
          </nav> 
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
    <router-outlet></router-outlet>